.contenido {
  background-color: #16394c;
  border: 6px solid #608094;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btn-unit {
  background-color: transparent;
  border: none;
  color: gray;
}
.activo {
  color: white;
}
